.inter-font {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-color: #1a0b2e;
  --primary-color: #ffffff;
  --highlighter: #00ff88;
}
/* shared style */

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem 1.2rem;
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1.8rem;
  background: linear-gradient(
    25deg,
    rgba(247, 233, 63, 1) 17%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  border: none;
  color: var(--primary-color);
}
.btn-2 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem 1.2rem;
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1.8rem;
  border: 2px solid var(--highlighter);
  color: var(--highlighter);
  background: transparent;
}
.flex {
  display: flex;
}
.heading-1 {
  font-size: 3.8rem;
  font-weight: 800;
  color: var(--primary-color);
}
.heading-2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  line-height: 4.2rem;
}
.pera {
  font-size: 1rem;
  color: var(--primary-color);
  opacity: 0.7;
  line-height: 30px;
}
.hr {
  background-color: #ffffff3d;
  min-height: 1px;
  margin-top: 5rem;
}
.card-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  line-height: 12px;
}
.card-pera {
  font-size: 1rem;
  line-height: 24px;
  color: var(--primary-color);
  opacity: 0.6;
}
/* hidden menu button */
.manu-btn {
  display: none;
}

/* navigation section styles */
.nav-bg {
  background-color: #1a0b2e;
}
nav {
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}
nav ul {
  gap: 32px;
  list-style: none;
}
nav h2 {
  color: #ffffff;
  font-size: 2.8rem;
}
nav h2 span {
  background-image: linear-gradient(
    17deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
nav ul a {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--primary-color);
}

/* banner section styles */
header {
  background-color: #1a0b2e;
}
#hero {
  background-image: url(./assets/hero-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.banner {
  padding: 6.2rem 0;
  flex-direction: column;
  align-items: center;
  max-width: 35rem;
  gap: 0.5rem;
}
.banner .banner-cicle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/hero-circle.png);
  background-size: cover;
  min-width: 22rem;
  min-height: 22rem;
  margin-bottom: 2rem;
  position: relative;
}
.banner .banner-cicle .bach {
  position: absolute;
  top: 20px;
  right: 15px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--highlighter);
  border-radius: 1.8rem;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.52);
}
.btn-box {
  margin-top: 1.5rem;
  gap: 0.5rem;
}

/* About section styles */

#about {
  background-color: var(--primary-bg-color);
}
.about-content {
  text-align: center;
}
.about-card {
  justify-content: space-between;
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

.about-card-chaild h2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--highlighter);
  margin-bottom: 0.7rem;
}
.about-card-chaild p {
  text-transform: uppercase;
}

/* grid container styles */
#choose-container {
  background-color: #230e3d;
  padding: 7.5rem 0;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 1.8rem;
  border-radius: 40px;
  background-color: rgba(53, 17, 101, 0.4);
}
.card img {
  width: 3.2rem;
  height: 3.2rem;
}
.choose-container-box {
    margin-top: 3rem;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "headphone mobile mobile"
    "headphone location location"
    "zap-fast zap-fast book";
}

.card-1 {
  grid-area: headphone;
}

.card-2 {
  grid-area: mobile;
}

.card-3 {
  grid-area: location;
}

.card-4 {
  grid-area: zap-fast;
}

.card-5 {
  grid-area: book;
}

/* Featured section style */

