.inter-font {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-color: #1a0b2e;
  --primary-color: #ffffff;
  --highlighter: #00ff88;
}
/* shared style */

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem 1.2rem;
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1.8rem;
  background: linear-gradient(
    25deg,
    rgba(247, 233, 63, 1) 17%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  border: none;
  color: var(--primary-color);
}
.btn-2 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem 1.2rem;
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1.8rem;
  border: 2px solid var(--highlighter);
  color: var(--highlighter);
  background: transparent;
}
.flex {
  display: flex;
}

.heading-1 {
  font-size: 3.8rem;
  font-weight: 800;
  color: var(--primary-color);
}
.heading-2{
    
}
.pera {
  font-size: 1rem;
  color: var(--primary-color);
  opacity: 0.7;
}

/* hidden menu button */
.manu-btn {
  display: none;
}

/* navigation section styles */
.nav-bg {
  background-color: #1a0b2e;
}
nav {
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}
nav ul {
  gap: 32px;
  list-style: none;
}
nav h2 {
  color: #ffffff;
  font-size: 2.8rem;
}
nav h2 span {
  background-image: linear-gradient(
    17deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
nav ul a {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--primary-color);
}

/* banner section styles */
header {
  background-color: #1a0b2e;
}
#hero {
  background-image: url(./assets/hero-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.banner {
  padding: 6.2rem 0;
  flex-direction: column;
  align-items: center;
  max-width: 35rem;
  gap: 0.5rem;
}
.banner .banner-cicle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/hero-circle.png);
  background-size: cover;
  min-width: 22rem;
  min-height: 22rem;
  margin-bottom: 2rem;
}
.btn-box {
  margin-top: 1.5rem;
  gap: 0.5rem;
}
