.inter-font {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-color: #1a0b2e;
  --primary-color: #ffffff;
  --highlighter: #00ff88;
}
/* shared style */

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1rem 1.2rem;
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1.8rem;
  background: linear-gradient(
    27deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  color: var(--primary-color);
}
.flex {
  display: flex;
}

/* hidden menu button */
.manu-btn {
  display: none;
}

/* navigation section styles */
.nav-bg {
  background-color: #1a0b2e;
}
nav {
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}
nav ul {
  gap: 32px;
  list-style: none;
}
nav h2 {
  color: #ffffff;
  font-size: 2.8rem;
}
nav h2 span {
  background-image: linear-gradient(
    17deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
nav ul a {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--primary-color);
}
